
<header class="header">

  <div class="logo-container">
    <img src="img/bglogo.png" alt="logo" class="logo">
</div>
 
<div>
    <span class="title">नाशिक चा सिंहस्थ कुंभमेळा २०२७</span>
</div>  

 <div class="d-flex align-items-center justify-content-between gap-4">
  <i class="fa-brands fa-instagram"></i>
  <i class="fa-brands fa-facebook"></i>
  <i class="fa-brands fa-whatsapp"></i>
</div>

</header>
<section class="container-fluid">
  <div class="row">

    <!-- 📰 Left Side (News - 20%) -->
    <div class="col-md-3 text-center pt-2 bg-light">
            <h5 class="fw-bold mb-3">ताज्या बातम्या</h5>
    </div>

    <div class="col-md-9 d-flex justify-content-between align-items-center ">
          
     <div class="col footer-section">
  <h5>🛕 नाशिकमधील मंदिरे</h5>

  <ul class="footer-list list-unstyled">
    <li>🛕 मुक्तिधाम मंदिर</li>
    <li>🛕 श्री सोमेश्वर मंदिर</li>
    <li>🛕 श्री नवश्या गणपती मंदिर</li>
    <li>🛕 काळाराम मंदिर</li>
    <li>🛕 कपालेश्वर मंदिर</li>
    <li>🛕 सीता गुंफा</li>
    <li>🛕 त्र्यंबकेश्वर मंदिर</li>
    <li>🛕 सप्तश्रृंगी माता मंदिर</li>
  </ul>
</div>

     <div class="col footer-section">
  <h5>🏨 नाशिकमधील हॉटेल्स</h5>

  <ul class="footer-list list-unstyled">
    <li>🍽️ साधना चुलीवर्ची मिसळ</li>
    <li>🍴 शमसुंदर रेस्टॉरंट</li>
    <li>🍛 हॉटेल तुषार मिसळ</li>
    <li>🏨 हॉटेल रामा हेरिटेज</li>
  </ul>
</div>

     <div class="col footer-section">
  <h5>📍पर्यटन स्थळे</h5>

  <ul class="footer-list list-unstyled">
    <li>🍇 सुला वाईनयार्ड्स</li>
    <li>⛰️ अंजनेरी</li>
    <li>🏛️ पांडव लेणी</li>
    <li>🌊 गोदावरी घाट (गोदाघाट)</li>
  </ul>
</div>

     <div class="col footer-section">
       <h5> 🏢 मनपा कार्यालय</h5>
        <ul class="footer-list list-unstyled">
         <li>Sula Vineyards</li>
          <li>Anjneri Hills</li>
          <li>Pandav Leni</li>
          <li>Godavari Ghat</li>
       </ul>
     </div>

     <div class="col footer-section">
        <h5>📞 महत्वाचे संपर्क क्रमांक</h5>
          <ul class="footer-list list-unstyled">
         <li>📞 पोलीस: १००</li>
        <li>🚑 रुग्णवाहिका: १०८</li>
        <li>🔥 अग्निशमन: १०१</li>
        <li>👩 महिला हेल्पलाईन: १०९१</li>
        <li>🧒 बाल हेल्पलाईन: १०९८</li>
        <li>🧭 पर्यटन मदत: १३६३</li>
       </ul>
     </div>


    </div>
  </div>
</section>